body {
  position: relative;
} 

.dialog-container {
  position: absolute;
  top: 0;
  left: 58%;
  transform: translateX(-50%) translateY(10%);
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #26323b;
  border: 2px solid #d2e6cd;
  padding: 10px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  height: 200px;
  margin:auto;
}

.character-name {
  position: absolute;
  top:-20px;
  left:540px;
  color: #fff;
}


.dialog-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height:80%;
  background-color: #26323b;
  border: 2px solid #d2e6cd;
  margin-right: 25px;
  object-fit: cover;
  overflow: hidden;
}

.character-image {
  width: 100%;
  height:100%;
}


.dialog-text-container {
  position: relative;
  width: 75%;
  height: 70%;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 20px; /* Adjust this value to suit your needs */
  background-color: #26323b;
  border: 2px solid #d2e6cd;
  color: #EFF2E4;
}

.dialog-options {
  list-style-type: none;
  margin: 10px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
}

.dialog-options li {
  margin-bottom: 10px;
  width: 75%; 
}

.dialog-options button {
  background-color: #26323b;
  border: 2px solid #d2e6cd;
  color: #EFF2E4; 
  text-decoration: none;
  cursor: pointer;
  padding: 10px 10px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.dialog-options button:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #d2e6cd;
  border-left: 20px solid transparent;
  width: 0;
}

.dialog-options button:hover {
  background-color: #d2e6cd;
  color:#26323b;
  text-decoration: none;
}

.more-button {
  background-color: #26323b;
  border: 2px solid #d2e6cd;
  color: #EFF2E4; 
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em 1em;
  display: inline-block;
  position: relative;
}

.more-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #d2e6cd;
  border-left: 20px solid transparent;
  width: 0;
}

.more-button:hover {
  background-color: #d2e6cd;
  color:#26323b;
  text-decoration: none;
}

.dialog-options button i {
  margin-right: 8px;
}

.dialog-options button span {
  flex-grow: 1;
}

.dialog-options button:not(.no-icon) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}


.dialog-options button span {
  flex-grow: 1;
}

.dialog-options button:not(.no-icon) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
