/* ---------- MENU WINDOW ----------*/




.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(19, 33, 36, 0.9);
}

.modal-content {
  background-color: #2D4B4F;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #50665F;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  padding: 2px 16px;
  background-color: #132124;
  color: #A3ABA0;
  border-bottom: 2px solid #50665F;
  cursor: move;
}

.modal-body {
  padding: 20px;
  color: #748B7E;
}

.close {
  color: #aaaaaa;
  font-size: 36px;
  font-weight: bold;
}

.modal-footer {
  text-align: right;
  padding: 0 16px 10px 0;
}

.close:hover,
.close:focus {
  color: #50665F;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: -10px;
}

/* Sidebar*/
#customButton {
  color: #A3ABA0;
  background-color: #132124;
  padding: 5px;
  border: 2px solid #50665F;
  margin-bottom: 5px;
  cursor: pointer;
}

#customButton:hover {
  background-color: #2D4B4F;
}

.tab {
  overflow: hidden;
  border-bottom: 2px solid #50665F;
  margin-top: 10px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #A3ABA0;
}

.tab button:hover {
  background-color: #50665F;
}

.tab button.active {
  background-color: #2D4B4F;
}

.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
}



/*---------- Menu UI ----------*/




.level-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.level-bar {
  flex-grow: 1;
  height: 4px;
  background-color: #748B7E;
  margin: 0 10px;
}

.level-info {
  color: #A3ABA0;
}

.attribute-skill-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.attribute-box,
.skill-box {
  flex-basis: 48%;
  background-color: #2D4B4F;
  padding: 10px;
  border: 2px solid #50665F;
  border-radius: 5px;
}

.box-title {
  text-align: center;
  color: #A3ABA0;
  margin-bottom: 10px;
}

.attributes-content, .skills-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.attribute-item, .skill-item {
  flex: 0 0 50%;
  text-align: center;
}


.item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.item-column {
  padding: 5px;
  border: 1px solid #ccc;
}
